.cards {
  display: flex;
  flex-flow: row wrap;
  width: 920px;
  list-style-type: none;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: center;
  margin: 0;
  padding-left: 0;
}
